<footer class="footer">
  <div class="container">
    # if current_user.admin
      <div>
        <h5>Make a tax-deductible donation here!</h5>
        <a target='_blank' href='https://www.paypal.com/us/fundraiser/charity/169238' class='btn btn-primary'>PayPal</a>
      </div>
     <!--  <p>
        Version: {{config.CURRENT_VERSION_NAME}}
        (<time datetime="{{config.CURRENT_VERSION_DATE}}">{{config.CURRENT_VERSION_DATE}}</time>)
        # if api_url
          | <a class='api-url' href="{{api_url}}{% if request.query_string %}?{{request.query_string}}{% endif %}" target="_blank" data-api-url="{{api_url}}">View in JSON</a>
        # endif
      </p> -->
      # endif
    <p>&copy; 2017 - Hacker Dojo Kiosk</p>
  </div>
</footer>
