<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.CONFIG_DB.brand_name}}</a> -->
      <img style='height: 50px' src="/img/hacker_dojo_logo_regular.png">
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav nav-tabs">
        <li role="presentation" class=""><a href="{{url_for('faqs_list')}}">FAQs</a></li>
        <li role="presentation" class=""><a href="/events/">Events</a></li>
        <li role="presentation" class=""><a href="{{url_for('building_map')}}">Building Map</a></li>
        <li role="presentation" class=""><a href="{{url_for('about_us')}}">About Us</a></li>
        <li role="presentation" class=""><a href="{{url_for('membership')}}">Membership</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        # include 'bit/user_menu.html'
      </ul> -->
    </nav>
  </div>
</header>
