body {
  padding-top: @navbar-height;
  > .container {
    padding-top: floor(@line-height-computed / 2);
    padding-bottom: @line-height-computed * 2;
  }
}

.panel-heading {
  background-color: #b61e44 !important;
}

.panel-title {
  color: white;
}

#membership {
  height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#about-us {
  height: 76vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.event-list {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#membership-info {
  height: 19vh;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
}

.alert-announcement {
  display: none;
  &.container {
    border-radius: 0;
    margin-bottom: 0;
    padding: @alert-padding;
  }
  > .close {
    right: 0;
  }
}

.img-error {
  max-width: 100%;
  margin: auto;
  display: block;
}

.anchor {
  display: block;
  position: relative;
  top: -@navbar-height;
  visibility: hidden;
}

.recaptcha {
  min-height: 78px;
}
