# extends 'base.html'

# block content
  <div class="page-header">
    <h1 class="text-center">{{title}}</h1>
  </div>
  <div id="events" class="row">
    <div class="col-md-12 text-center">
    	<p class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i> Tap an event to learn more.</p>
		        <div class="event-list list-group well">
			        # for event in data|groupby('day_raw')
			        # for event in event.list 
			        	{{event.grouper}}
			        	# if event.day != yesterday
			        	<a data-fancybox class="event list-group-item" data-src='https://events.hackerdojo.com/event/{{event.id}}' data-options='{"scrolling" : "yes"}' href="javascript:;">
				        	<div>
				        	# if event.status == 'canceled'
			        		<h1 style="color: red;">CANCELED</h1>
			        		<del style="color: red;">
			        		# endif
				        		<h4>{{ event.name }}</h4>
				        		<p>{{ event.type }}</p>
				        		<p><strong>Date:</strong> {{ event.day }}</p>
				        		<p><strong>Time:</strong> {{ event.start }} - {{ event.end }}</p>
				        		<p><strong>Room:</strong>
									# for room in event.rooms 
										{{ room }}
									# endfor 
								</p>
							# if event.status == 'canceled'
								</del>
							# endif
				        	</div>
			        	</a>
			        	# endif
				        
			        # endfor 
			      	# endfor
    </div>
  </div>
 </div>
# endblock