# extends 'base.html'
# import 'macro/forms.html' as forms

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
    <a href='/faqs/'><button class='btn btn-warning btn-block'><i class="fa fa-arrow-left" aria-hidden="true"></i> Nevermind. Go Back</button></a>
      <form method="POST" action=".">
        <fieldset>
          {{form.csrf_token}}
          {{forms.textarea_field(form.question, autofocus=True)}}
          {{forms.textarea_field(form.answer)}}
          {{forms.text_field(form.category)}}
          <button type="submit" class="btn btn-primary btn-block">
            Update FAQ
          </button>
        </fieldset>
      </form>
            <a href='/faqs/{{ faq_id }}/delete/'><button id="delete-button" class='btn btn-danger btn-block'>Delete FAQ</button></a>
    </div>
  </div>
# endblock